body{
  background:#eee;
  font-family: Arial;
}

.container{
  background:white;
  width:1000px;
  margin:auto;
  padding:20px;
  border-radius:12px;
}

.row{
  display:flex;
  gap:10px;
  margin-bottom:10px;
  align-items:center;
  flex-wrap:wrap;
}

label{
  font-weight:bold;
}

input, select, textarea{
  padding:6px;
  border:1px solid #777;
  border-radius:5px;
  width:180px;
}

.span-box{
  min-width:160px;
  border:1px solid #777;
  padding:6px;
  display:inline-block;
  border-radius:5px;
  background:#f5f5f5;
}

textarea{
  width:100%;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
}

th,td{
  border:1px solid black;
  padding:6px;
  text-align:center;
}

h2,h3{
  background:#cfe6c1;
  padding:8px;
  border-radius:5px;
  margin-top:15px;
}

button{
  padding:10px 20px;
  font-size:16px;
  cursor:pointer;
}

/* تحسين الطباعة */
@media print {

  body, .container {
    margin:0;
    width:100%;
    box-shadow:none;
  }

  h2,h3{
    background:none;
    padding:0;
  }

  input, textarea, select{
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:none;
  }

  button, .print-btn-container{
    display:none;
  }

  select{
    background:none;
  }

  table {
    page-break-inside: avoid;
  }

}
